<div class="card-card">
    <div class="card-image">
        {{{getCardSvg this}}}
    </div>
    <div class="card-info">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-count">
            <span class="card-count-numerator">{{card_count}}/{{total_decks}}</span>
            <span class="card-inclusion-percentage">{{inclusion_percentage}}%</span>
        </p>
    </div>
</div>