<div class="commander-card">
    <a href="/commander/{{commander_name}}">
        <p class="commander-image">{{{getCardSvg images}}}</p>
        <h3 class="commander-title">
            <span class="name">{{name.name}}</span>
            <span class="title">{{name.title}}</span>
        </h3>
        <p class="commander-deck-count">Decks: {{deck_count}}</p>
    </a>
</div>